* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

.header {
  background-image: url(/assets/img_header.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding-inline: 10%;
}

.nav {
  max-width: 1280px;
  height: 100px;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 25px;
  color: #1a1a1a;
}

#logo {
  font-size: 26px;
}

.nav-list {
  display: flex;
  gap: 32px;
}
.nav-list a {
  color: #3c0e0e;
  font-size: 18px;
  padding-block: 16px;
}

#img_logo_cat {
  width: 60px;
}

.btn-delivey {
  border: none;
  border-radius: 32px;
  background-color: #431b1b;
  width: 110px;
  height: 42px;
  color: #fff;
  font-size: 14px;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #3c0e0e;
  cursor: pointer;
  padding: 0px;
}

.hamburger::before, /* Criou o menu hamburger, o traço do meio e em baixo*/
.hamburger::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #3c0e0e;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

/* -------------------- HOME -----------------------*/

.home {
  height: 60vh;
}

.home h1 {
  color: #3c0e0e;
  font-size: 80px;
  margin-top: 15px;
}

#subtitle {
  color: #3c0e0e;
  font-size: 24px;
  font-weight: 600;
  margin-top: 65px;
}

.home p {
  margin-top: 30px;
  color: #3c0e0e;
  font-size: 16px;
  line-height: 2;
  width: 350px;
}

/* ---------------- DRINKS ------------------*/
.drinks h1 {
  color: #3c0e0e;
  font-size: 30pt;
  text-align: center;
  margin-bottom: 15px;
}

.drinks-main-paragraph {
  color: #3c0e0e;
  font-size: 14pt;
  text-align: center;
  font-weight: 400;
  line-height: 25px;
  margin: auto;
  margin-bottom: 25px;
  width: 275px;
}

#hr-coffes {
  border: none;
  width: 40px;
  height: 1px;
  background-color: #3c0e0e;
  margin-bottom: 15px;
}

#see-more {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

#see-more a {
  color: #3c0e0e;
}

.btn-delivey-drink {
  width: 260px;
  height: 45px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.447);
}
.btn-delivey-drink a {
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.card {
  display: grid;
  text-align: center;
  color: #fff;
  gap: 30px;
}

#card1 {
  width: 323.65px;
  height: 468.15px;
  background: linear-gradient(to bottom left, #f7d2d0, #c27d7a);
  border-radius: 48px;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

#card2 {
  width: 323.65px;
  height: 468.15px;
  background: linear-gradient(to bottom left, #fafafa, #541511a8);
  border-radius: 48px;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

#card3 {
  width: 323.65px;
  height: 468.15px;
  background: linear-gradient(to bottom left, #0a0909f0, #541511f4);
  border-radius: 48px;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .home p {
    width: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1010px) {
  .header {
    background-size: calc(90vh - 10vh);
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav h1 {
    font-size: 20px;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3c0e0e;
    clip-path: circle(100px at 90% -20%);
    transition: 1s ease-out;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
    color: #fff;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15px);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
    background-color: #fff;
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    background-color: #fff;
  }

  /* --------------- HEADER AND HOME ---------------------- */

  .header {
    padding-inline: 10%;
    background-image: url(/assets/image_header_mobile.png);
    background-size: 400px;
  }

  #subtitle {
    font-size: 18px;
  }

  #title {
    font-size: 60px;
  }

  .home p {
    width: 235px;
  }
}

@media (min-width: 200px) and (max-width: 580px) {
  .header {
    background-size: 350px;
  }

  #subtitle {
    margin-top: 40px;
  }

  #title {
    font-size: 30px;
  }

  #logo {
    font-size: 20px;
  }

  .home p {
    width: 167px;
    line-height: 1.5;
    margin-top: 18px;
  }
}
