* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  background-color: #f7f2e8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 212, 229, 0.297);
  z-index: -1;
}

#logo {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 16pt;
  text-decoration: none;
}

.logo-img-h1 {
  display: flex;
  align-items: center;
  gap: 50px;
}

#check {
  display: none;
}

.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#button_delivery {
  background-color: #431b1b;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 39px;
  border: none;
  font-size: 12pt;
  font-weight: 500;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #431b1b;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
    top: 35%;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    background-color: rgba(84, 212, 229, 0.158);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

/* .header {
  max-width: 1280px;
  padding: 40px 4%;
  background-image: url(/assets/img_header.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin: auto;
} */

/* header ul li {
  display: inline-block;
  margin-right: 25px;
}

header ul li a {
  color: #3c0e0e;
  font-size: 14pt;
}

#logo {
  color: #1a1a1a;
  font-size: 22pt;
  font-weight: 500;
}

 */

/* .container {
  max-width: 1180px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#button_delivery {
  background-color: #431b1b;
  color: #fff;
  width: 152px;
  height: 48px;
  border-radius: 39px;
  border: none;
  font-size: 16pt;
  font-weight: 500;
  margin-left: 25px;
}

#btn-login {
  color: #3c0e0e;
  font-size: 14pt;
}

.btn-delivery {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-container {
  display: flex;
  max-width: 1180px;
  margin: auto;
  flex-direction: column;
}

#title {
  font-size: 60pt;
  color: #3c0e0e;
  line-height: 80px;
  margin-top: 6px;
  margin-bottom: 16px;
}

#subtitle {
  margin-top: 84px;
  color: #3c0e0e;
  font-weight: 600;
  font-size: 14pt;
}

header p {
  color: #3c0e0e;
  line-height: 30px;
}

#hr-coffes {
  width: 66px;
  height: 1.5px;
  background-color: #3c0e0e;
  border: none;
  margin-bottom: 15px;
} */

.drinks {
  background-image: url(/assets/background_drinks.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.drinks h1 {
  color: #3c0e0e;
  font-size: 30pt;
  text-align: center;
}

.drinks-main-paragraph {
  color: #3c0e0e;
  font-size: 14pt;
  text-align: center;
  font-weight: 400;
  line-height: 25px;
}

#see-more {
  margin-top: 30px;
  color: #3c0e0e;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 50px;
  display: flex;
  gap: 70px;
  justify-content: center;
}

#card1 {
  width: 323.65px;
  height: 468.15px;
  background: linear-gradient(to bottom left, #f7d2d0, #c27d7a);
  border-radius: 48px;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#card2 {
  width: 323.65px;
  height: 468.15px;
  background: linear-gradient(to bottom left, #fafafa, #541511a8);
  border-radius: 48px;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#card3 {
  width: 323.65px;
  height: 468.15px;
  background: linear-gradient(to bottom left, #0a0909f0, #541511f4);
  border-radius: 48px;
  display: flex;
  padding: 20px 10px 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card button {
  width: 263.78px;
  height: 46.17px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.447);
}
.card a {
  color: #000000;
  font-weight: 500;
  font-size: 14pt;
}

.card h3 {
  color: #fff;
  font-weight: 600;
  font-size: 24pt;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

#price {
  color: #fff;
  font-weight: 600;
  font-size: 14pt;
  text-align: center;
}

#drinks-paragraph {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin-bottom: 27px;
}

.croissants h1 {
  margin-top: 30px;
  color: #4d1d1d;
  font-size: 60pt;
  font-weight: 700;
}

#hr-croissants {
  width: 50px;
  height: 1.5px;
  background-color: #4d1d1d;
  border: none;
}

.croissants h4 {
  color: #3c0e0e;
  font-size: 25pt;
  font-weight: 500;
}

.croissants p {
  font-size: 15pt;
  color: #3c0e0e;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 26px;
}

.croissants a {
  color: #3c0e0e;
  font-weight: 700;
  font-size: 14pt;
}

#price-croissants {
  width: 110px;
  height: 40px;
  background-color: #fff;
  border-radius: 47px;
  color: #4d1d1d;
  font-weight: 700;
  font-size: 14pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.croissants {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  margin: auto;
  padding-top: 90px;
}

.img_croissants img {
  width: 500px;
  height: 440px;
}

.embalagens {
  max-width: 1280px;
  background: linear-gradient(#f3c7c4, #541511ef);
  width: 1115px;
  height: 397px;
  border-radius: 48px;
  display: flex;
  padding: 0px 30px 15px 0px;
  margin: 80px auto 0px auto;
  gap: 30px;
}

.embalagens img {
  width: 589px;
  height: 379px;
  border-radius: 30px;
}

.embalagens h1 {
  color: #fff;
  font-weight: 700;
  font-size: 36pt;
  margin-top: 76px;
  margin-bottom: 35px;
}

.embalagens p {
  color: #fff;
  margin-bottom: 70px;
}

.embalagens button {
  width: 280px;
  height: 45px;
  background-color: #fff;
  border-radius: 25px;
  border: none;
  margin-bottom: 76px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.447);
}

.embalagens a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.info_embalagens {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.background-about-us {
  height: 85vh;
  background-image: url(/assets/background-sobre_nos.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: flex;
  align-items: center;
}

.about-us {
  max-width: 1280px;
  padding: 0px 50px 0px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  margin: 0px auto 0px auto;
}

.about-us h2 {
  color: #4d1d1d;
  font-size: 32pt;
  line-height: 50px;
}

#title-about-us {
  color: #4d1d1d;
  font-size: 14pt;
  margin-bottom: 13px;
}
#sub-title-about-us {
  color: #4d1d1d;
  font-weight: 700;
  font-size: 16pt;
  margin-bottom: 28px;
}

#paragraph-about-us {
  color: #3c0e0e;
  font-size: 14pt;
  line-height: 28px;
}

#title-locate_hours {
  font-size: 42pt;
  color: #fff;
}

#hr-locate-hours {
  width: 52px;
  height: 1.5px;
  border: none;
  background-color: #fff;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.locate-hours {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.texts-locate-hours {
  margin: 52px 0px 61px 42px;
}

#tiltle-days {
  font-weight: 700;
  font-size: 14pt;
  margin-bottom: 18px;
}

.container1-locate p {
  color: #fff;
  line-height: 25px;
  float: left;
  font-weight: 300;
}

.container1-locate {
  width: 744px;
  height: 457px;
  background: linear-gradient(120deg, #541511d5, #f3c7c4);
  border-radius: 48px 0px 0px 48px;
  display: flex;
  align-items: center;
}

.container1-locate img {
  width: 430px;
  height: 362px;
}

.container2-locate {
  width: 373px;
  height: 457px;
  background: linear-gradient(#54151191, #f3c7c4);
  border-radius: 0px 48px 48px 0px;
}

.container2-locate h2 {
  color: #fff;
  font-size: 30pt;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 28px;
}

.container2-locate p {
  color: #fff;
  font-size: 14pt;
  font-weight: 300;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hr-locate {
  width: 280px;
  height: 1.5px;
  background-color: #fff;
  margin-bottom: 28px;
}

.locate {
  margin-top: 35px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#hr-footer {
  width: 1178px;
  height: 1.5px;
  background-color: #0000007d;
}

.footer {
  max-width: 1280px;
  margin: 45px auto 104px auto;
  display: flex;
  justify-content: space-around;
}

.footer h5 {
  color: #282828;
  font-size: 14pt;
  font-weight: 600;
}

.footer p,
a {
  color: #3c0e0eb6;
}

.info-catcafe p {
  margin-top: 14px;
  line-height: 23px;
  margin-bottom: 25px;
}

.institucional span {
  font-weight: 600;
}

.institucional h5 {
  margin-bottom: 14px;
}

.institucional p,
a {
  line-height: 23px;
}

.links h5 {
  margin-bottom: 14px;
}

.links ul {
  line-height: 23px;
}

@media screen and (max-width: 1040px) {
  body {
    background-color: #da54da;
  }

  .card {
    margin-top: 50px;
    display: flex;
    gap: 70px;
    justify-content: center;
  }

  #card1 {
    width: 323px;
    height: 468px;
    background: linear-gradient(to bottom left, #f7d2d0, #c27d7a);
    border-radius: 48px;
    display: flex;
    padding: 20px 10px 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #card2 {
    width: 323.65px;
    height: 468.15px;
    background: linear-gradient(to bottom left, #fafafa, #541511a8);
    border-radius: 48px;
    display: flex;
    padding: 20px 10px 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #card3 {
    width: 323.65px;
    height: 468.15px;
    background: linear-gradient(to bottom left, #0a0909f0, #541511f4);
    border-radius: 48px;
    display: flex;
    padding: 20px 10px 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .card button {
    width: 263.78px;
    height: 46.17px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.447);
  }
  .card a {
    color: #000000;
    font-weight: 500;
    font-size: 14pt;
  }

  .card h3 {
    color: #fff;
    font-weight: 600;
    font-size: 24pt;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
